.join-main-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
}

.join-text{
    font-size: 3.5em;
    font-weight: bold;
    margin: 0;
}

.accent-text, a{
    color: #BC3A80;
    text-decoration: none;
}

.join-form{
    background-color: #0F101A;
    width: 30vw;
    max-width: 40%;
    padding: 2rem 4rem;
    border-radius: 10px;
}

.input-group{
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.input-group:last-child, p{
    margin-bottom: 0;
}

.input-group label{
    font-weight: bold;
    margin-bottom: 0rem;
}

.input-group input{
    outline: none;
    background: none;
    border: 1px solid #1F1F43;
    font-size: 1em;
    padding: .5em;
    color: inherit;
    border-radius: 5px;
}

.input-group input:focus{
    border-color: #BC3A80;
}

@media(max-width: 900px){
    .join-main-section{
        flex-direction: column;
        justify-content: center;
    }

    .join-form{
        width: 80vw;
        max-width: inherit;
        margin: 2rem 0;
    }
}

.join-page-circle-1{
    position: absolute;
    width: 25vw;
    height: 25vw;
    border-radius: 50%;
    background-color: rgb(188, 58, 128, .1);
    bottom: 0vw;
    left: 4.5vw;
    z-index: -1;
}

.home-page-circle-1::before{
    content: "";
    position: absolute;
    transform: translateX(-20%);
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: rgb(188, 58, 128, .1);
}

.join-page-circle-2{
    position: absolute;
    width: 15vw;
    height: 15vw;
    border-radius: 50%;
    background-color: rgb(64, 45, 198, .1);
    top: -5vw;
    left: 50vw;
    z-index: -1;
}

.home-page-circle-2::before{
    content: "";
    position: absolute;
    transform: translateY(-30%);
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: rgb(64, 45, 198, .1);
}

